/* Generics */
body{
    margin: 0;
}
main, footer{
    width: 1080px;
    margin: 0 auto;
    
}
header{
    background-color: #4ea0ff;
    height: 100px;
    line-height: 100px;
    background-image: url(../img/pattern.png);
}
/* Header */

.barra-logo {
    width: 1080px;
    height: 100px;
    margin: 0 auto;
}

#logo{
    height: 100px;
    width: 150px;
}

/* Main */
.titolo{
    margin-bottom: 0;
}

.grey {
    margin: 0;
    color: grey;
}

.blue {
    color:#4ea0ff
}
.immagini{
    margin-top: 30px;
}
.size{
    font-size: small;
}
.evidenziatore {
    background-color: yellow;
}

.lista {
    padding-left: 13px;
}

/* Inizio tabella */
table{
    
    border-spacing: 0px;
    text-align: left;
}

thead {
    background-color: #20a9e5;
    line-height: 20px;
    color: white;
}

.space{
    width: 25%;
    
}

.lightblue{
    background-color: #b1e5f2;
}

/* fine tabella */
.footer-title{
    color: grey;

}
.footer-img-1{
    height: 300px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}
.footer-img-2{
    height: 300px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.img-title{
    color: white;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 20px;

}
